@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #e05515;
  border-left: 10px solid #e05515;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: #fff;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: #e05515;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 50px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 22px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
}

/* Main TopBar */

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #fff;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.top-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.search {
  position: relative;
  width: 300px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 28px;
  border-radius: 30px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid #999;
}

.search label ion-icon {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 16px;
  text-align: center;
}

.user {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card-box {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.card-box .card {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}

.card-box .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 28px;
  color: #e05515;
}

.card-box .card .card-name {
  color: #999;
  font-size: 14px;
  margin-top: 6px;
}

.card-box .card .icon-box {
  font-size: 38px;
  color: #999;
}

.card-box .card:hover {
  background: #e05515;
}

.card-box .card:hover .numbers,
.card-box .card:hover .card-name,
.card-box .card:hover .icon-box {
  color: #fff;
}

/*order detail list*/
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.details .recent-orders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.card-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card-header h3 {
  font-weight: 600;
  color: #e05515;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: #e05515;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recent-orders table tr {
  color: #222;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recent-orders table tr:last-child {
  border-bottom: none;
}

.details .recent-orders table tbody tr:hover {
  background: #e05515;
  color: #fff;
}

.details .recent-orders table tr td {
  padding: 10px;
}

.details .recent-orders table tr td:last-child {
  text-align: end;
}

.details .recent-orders table tr td:nth-child(2) {
  text-align: end;
}

.details .recent-orders table tr td:nth-child(3) {
  text-align: center;
}

.status.delivered {
  padding: 4px 6px;
  background: #8de02c;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.status.pending {
  padding: 4px 6px;
  background: #f9ca3f;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.status.return {
  padding: 4px 6px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.status.in-progress {
  padding: 4px 6px;
  background: #1795ce;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.recent-customers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recent-customers .img-box {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.recent-customers .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.recent-customers table tr:hover {
  background: #e05515;
  color: #fff;
}

.recent-customers table tr td {
  padding: 12px 10px;
}

.recent-customers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.recent-customers table tr td h4 span {
  font-size: 14px;
  color: #999;
}

.recent-customers table tr:hover td h4 span {
  color: #fff;
}

/* responsive design */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .recent-orders {
    overflow-x: auto;
  }

  .status.in-progress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .card-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-header h3 {
    font-size: 16px;
  }
  .user {
    min-width: 36px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active .toggle {
    position: fixed;
    right: 0;
    left: 300px;
    color: #fff;
  }
}
